<html>
<head>
  #parse("head.vm")
</head>
  <body>
    <div id="head">
      <a href="#{url_for_typeahead}">typeahead</a>
      <a href="#{url_for_browse}">browse</a>
    </div>

    <div id="content">
      $content
    </div>

    <div id="footer">
      <hr/>
    </div>
  </body>
</html>
